.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

body {

    background-color: #f2d185;

}

.div1 {

    position: relative;
    height: auto;
    width: 500px;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    grid-area: 1 / 1 / 2 / 2;
    top: 25%;
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
}

#buttonT {
    width: 75%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: orange;
    color: black;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 3%;
    border-radius: 20px 10px 20px 10px;
    -webkit-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
}

#buttonT:hover {
    background-color: #7FACDE;
}

#buttonE {
    width: 75%;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 3%;
    border-radius: 20px 10px 20px 10px;
    -webkit-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 8px -4px rgba(0, 0, 0, 0.75);
}

#buttonE:hover {
    background-color: #7FACDE;
}
